//
	Created by Kane on 15/7/30.

extends ./layout

block title
	title MIDWIFE - 静态资源发布管理

block css
	link(rel='stylesheet', href="/css/repo-list.css")

block content
	.page
		if err
			.page-err-tip #{err.message}
		else
			ul.repo-list
				each item in repos
					li
						h2
							a(href="/repos/#{item.owner.username}/#{item.name}") #{item.owner.name} / #{item.name}
						p
							span Git: 
							a(href=item.url) #{item.url}
						if item.website
							p 
								span Site: 
								a(href=item.website) #{item.website}
						if item.description        
							.description 
								div #{item.description}
