//
   Created by Kane on 15/7/30.

extends ./layout

block title
    title 静态资源发布管理

block content
    ul
        each item in repos
            li
                h3
                    a(href="/repos/#{item.owner.username}/#{item.name}") #{item.owner.name} / #{item.name}
                p
                    a(href=item.url) #{item.url}
                p
                    | 站点:
                    a(href=item.website) #{item.website}
                .description #{item.description}



