//
   Created by Kane on 15/7/30.

extends ./layout

block title
    title #{repo.name} - 静态资源发布管理

block css
    link(rel='stylesheet', href="/css/repo.css")

block content
    h2 #{repo.name} #{repo.version}
    p 项目拥有者: #{repo.owner.name}
    p
        a(href=repo.url) #{repo.url}
    .description #{repo.description}

    ul
        each env in envs
            li
                h3 环境: #{env.name}
                p #{env.description}

                if env.deployment
                    h4 分支：#{env.deployment.branch} #{env.deployment.version}
                    p 发布状态: #{env.deployment.status_text}
                    div
                        button.publish(eid="publish-btn", owner=repo.owner.username, repo_name=repo.name, repo_id=repo.id, env_id=env.id, env_name=env.name, env_alias=env.alias, branch=env.deployment.branch, disabled=Boolean(env.deployment.status)) 发布项目
                    div(class={ hidden: env.deployment.status === 0 }) 发布进度:
                        span.progress(eid="progress") #{env.deployment.progress_text}


    div
        form(action="/f2e/deployment/#{repo.id}", method="POST")
            select.env-list(eid="env-list", name="env_id")
                each env in envs
                    option(value=env.id) #{env.name} - #{env.alias}

            select.branch-list(eid="branch-list", name="branch")
                each branch in branches
                    option(value=branch) #{branch}

            input(type="hidden", name="secret", value=default_secret)
            button.add-deployment(eid="add-deployment-btn", type="submit") 提交配置


    script(src='http://cdn.staticfile.org/zepto/1.1.4/zepto.min.js')
    script(src='/js/progress.js')